/*Portfolio by Mila K-L */

/*March 2018*/

/*Breakpoints*/

@media screen and (max-width: 1800px) {
  body, input, select, textarea {
    font-size: 12pt;
  }
}

@media screen and (max-width: 980px) {

  #allContent {
    display: flex;
    flex-direction: column;
  }


  li .icon {
    font-size: 1.25em;
  }
  #header {
    display: block;
    /*background-position: top left, center center;*/
    background-size: auto, cover;
    /*left: auto;*/
    padding: 6em 4em;
    position: relative;
    text-align: center;
    top: auto;
    min-width: 100%;
    height: inherit;


  }
  #header h1 {
    font-size: 1.75em;
  }
  #header h1 br {
    display: inline;
  }
  #footer {
    display: flex;
    flex-direction: row;
    background: linear-gradient(45deg, #155799, #159957);
    background-size: auto, cover;
    bottom: auto;
    left: auto;
    padding: 4em 4em 6em 4em;
    position: relative;
    text-align: center;
    width: 100%;
  }
  #footer .icon {
    margin: 0 0 1em 0;
  }
  #footer .copyright {
    margin: 0 0 1em 0;
  }
  #footer li {
    border-left-width: 1px;
    display: inline-block;
    line-height: 1em;
    margin-left: 0.75em;
    padding-left: 0.75em;
  }

  #main {
				margin: 0;
				padding: 6em 4em;
				width: 100%;
        height: auto;
			}
}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 360px) {
  button {
    margin: 0 0 2em 0;
    display: block;
    padding: 1em 0 0 0;
    text-align: center;
    width: 100%;
  }
  #header {
    padding: 4.5em 1.5em;
  }
  #footer li {
    border-left-width: 0;
    display: block;
    line-height: 2.25em;
    margin-left: 0;
    padding-left: 0;
  }
}
