/*Portfolio by Mila K-L */

/*March 2018*/

/*Breakpoints*/

@media screen and (max-width: 1800px) {
  body, input, select, textarea {
    font-size: 12pt;
  }
}

@media screen and (max-width: 980px) {
  #allContent {
    display: flex;
    flex-direction: column;
  }
  li .icon {
    font-size: 2em;
  }
  #header {
    left: auto;
    padding: 6em 4em;
    position: relative;
    text-align: center;
    top: auto;
    min-width: 100%;
    min-height: inherit;
    display: block;
  }
  #header h1 {
    font-size: 1.75em;
  }
  #header h1 br {
    display: inline;
  }
  #footer {
    display: inline-block;
    flex-direction: row;
    background: linear-gradient(to right, #159957, #155799);
    justify-content: space-around;
    align-items: flex-start;
    bottom: auto;
    left: auto;
    padding: 2em 2em 2em 2em;
    position: relative;
    text-align: center;
    width: 100%;
  }
  #footer .icon {
    margin: 0 0 2em 0;
  }
  #footer .copyright {
    margin: 0 0 2em 0;
  }
  #footer li {
    display: inline-block;
    line-height: 1em;
    margin-left: 0.75em;
    padding-left: 0.75em;
  }
  #footer li:first-child {
    padding-left: 0;
  }
  #main {
    margin: 0;
    padding: 6em 4em;
    width: auto;
    height: auto;
  }
}

@media screen and (max-width: 736px) {
  #header {
    padding: 2.25em 1.5em;
  }
  #main {
    padding: 2.25em 1.5em 0 1.5em;
  }
  #main>section {
    margin: 2.25em 0 0 0;
    padding: 2.25em 0 0 0;
  }
  .project_item {
    flex-grow: 1;
  }
}

@media screen and (max-width: 480px) {
  form, input {
    flex-grow: 1;
  }
  textarea, input {
    margin-bottom: 0.5em;
  }
  button {
    margin: 0 0 2em 0;
    display: block;
    padding: 0;
    text-align: center;
    width: 100%;
  }
  #header {
    padding: 4em 1.5em;
  }
  #footer li {
    display: inline-block;
    line-height: 2.25em;
    margin-left: 0;
    padding-left: 1em;
  }
  li .icon {
    font-size: 1.5em;
  }
}
