/*Portfolio by Mila K-L */

/*March 2018*/

/*Reset*/

body, header, footer, button, input, textarea {
  display: flex;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  text-align: left;
  height: 100vh;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

#header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 6em 3em 3em 3em;
  width: 30%;
  min-height: 100%;
  position: fixed;
  text-align: right;
  justify-content: space-between;
  background-image: url();
  background-image: linear-gradient(45deg, #192A52, #495B84);
}

#header h1 {
  color: rgba(255, 255, 255, 0.6);
  font-family: 'Quicksand', sans-serif;
  /*font-family: 'Work Sans', sans-serif;*/
  /*font-family: 'Hind', sans-serif;*/
  font-weight: 400;
  font-size: 1.35em;
  line-height: 1.75em;
  margin: 0;
}

#header .profile.image {
  margin: 0 0 1em 0;
  width: 6.25em;
}

.profile {
  border-radius: 0.35em;
  border: 0;
  display: inline-block;
  position: relative;
}

.profile.image {
  border-radius: 100%;
}

.profile.image:before {
  display: none;
}

.profile.image img {
  border-radius: 100%;
  width: 100%;
}

a {
  text-decoration: none;
}

#footer {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  /*flex-direction: row;*/
  padding: 3em 0 0 3em;
  align-items: flex-end;
  position: relative;
  text-align: right;
  align-self: flex-end;
  margin: 0;
}

.footer.wrapper {
  flex-direction: row;
  /*align-items: center;*/
}

#footer .social.icons {
  margin: 1em 0 1em 0;

}

.icon {
  color: rgba(255, 255, 255, 0.6);
  font-size: 2em;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

ul.social.icons li {
  display: inline-block;
  padding: 0 0 0 1em;
}

#main {
  display: flex;
  flex-direction: column;
  min-height: inherit;
  margin-left: 35%;
  max-width: 54em;
  padding: 6em 2em 2em 0;
  width: calc(100% - 35%);
  background-color: #FADC9E;
}

#main>section {
  border-top: solid 2px #c2d3f9;
  margin: 4em 0 0 0;
  padding: 4em 0 0 0;
}

#main>section:first-child {
  border-top: 0;
  margin-top: 0;
  padding-top: 0;
}

.about {
  background-color: #C06C84;
  /*flex-basis: content;*/
  align-items: flex-start;
}

.work {
  background-color: #51ADCF;
  /*display: flex;*/
  flex-direction: column;
  flex: 1;
  align-items: flex-start;
  /*flex-basis: content;*/
}

.projects {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: stretch;
  /*flex-basis: content;*/
}

.contact {
  background-color: #669B7C;
  /*flex-basis: content;*/
  align-items: flex-start;
}

#main>section:first-child {
  flex-direction: column;
}

section, article {
  flex-basis: content;
  flex: 1;
  align-items: flex-start;
}

input, textarea, button {
  background-color: #f7f7f7;;
  border: solid 2px transparent;
  border-radius: 0.35em;
  display: block;
  outline: 0;
  padding: 0 0.75em;
  text-decoration: none;
  text-transform: none;
  
}
