/*Portfolio by Mila K-L */

/*March 2018*/

/*Reset default styling*/

body, header, footer, button, input, textarea {
  display: flex;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* Variables */

:root {
  --main-bg-color: #fff;
  --link-accent-color: #F1D302;
  /*colour: #F6CC43;*/
  --font-color: #a2a2a2;
  --gradient-color: linear-gradient(45deg, #155799, #159957);
}

/* Basic styles*/

body {
  text-align: left;
  height: 100vh;
  font-family: 'Quicksand', sans-serif;
  font-size: 12pt;
  font-weight: 300;
  color: var(--font-color);
  background-color: var(--main-bg-color);
}

.container {
  margin-left: auto;
  margin-right: auto;
}

/* Header */

#header {
  display: flex;
  /*flex-wrap: wrap;*/
  flex-direction: column;
  padding: 6em 3em 3em 3em;
  width: 30%;
  min-height: 100%;
  position: fixed;
  text-align: right;
  align-items: flex-end;
  justify-content: space-between;
  /*background-image: linear-gradient(45deg, #192A52, #495B84);*/
  /*background: linear-gradient(45deg, #0B3142, #0F5257);*/
  background: var(--gradient-color);
}

#header h1 {
  color: rgba(255, 255, 255, 0.6);
  font-family: 'Quicksand', sans-serif;
  /*font-family: 'Work Sans', sans-serif;*/
  font-weight: 400;
  font-size: 1.35em;
  line-height: 1.75em;
  margin: 0;
}

#header .profile.photo {
  margin: 0 0 1em 0;
  width: 7.25em;
}

.profile {
  border-radius: 0.35em;
  border: 0;
  display: inline-block;
  position: relative;
}

.profile.photo {
  border-radius: 100%;
}

.profile.photo:before {
  display: none;
}

.profile.photo img {
  border-radius: 100%;
  width: 100%;
}

/* Main */

a {
  text-decoration: none;
  color: #a2a2a2;
}

a:hover {
  color: var(--link-accent-color) !important;
  text-decoration: none;
}

p {
  margin: 0 0 2em 0;
  line-height: 1.55em;
}

h1, h2, h3 {
  color: #787878;
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
  line-height: 1em;
  margin: 0 0 1em 0;
}

strong {
  color: #f5f5f5;
}

article {
  margin: 0 0 2em 0;
}

article.image {
  margin: 0 0 2em 0;
}

article>h3 {
  margin-top: 1em;
}

article>p {
  font-size: 0.9em;
  margin-top: -0.8em;
  line-height: 1.5em;
}

#footer {
  display: flex;
  /*flex-wrap: wrap;*/
  /*align-content: flex-end;*/
  flex-direction: row;
  padding: 3em 0 0 3em;
  /*align-items: flex-end;*/
  position: relative;
  text-align: right;
  align-self: flex-end;
  margin: 0;
}

/*
.footer.wrapper {
  flex-direction: row;
}
*/

#footer .social.icons {
  margin: 1em 0 1em 0;
}

.icon {
  color: rgba(255, 255, 255, 0.6);
  font-size: 2em;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

ul.social.icons li {
  display: inline-block;
  padding: 0 0 0 1em;
}

#footer .copyright {
  color: rgba(255, 255, 255, 0.4);
  font-size: 0.8em;
  list-style: none;
  margin: 1em 0 0 0;
  padding: 0;
}

#footer .copyright li {
  display: inline-block;
  line-height: 1em;
  margin-left: 0.75em;
  padding-left: 0.75em;
}

#footer .copyright li:first-child {
  border-left: 0;
  margin-left: 0;
  padding-left: 0;
}

#footer .copyright li a {
  color: inherit;
}

#main {
  /*display: flex;*/
  flex-direction: column;
  /*min-height: auto;*/
  margin-left: 35%;
  max-width: 54em;
  padding: 6em 2em 2em 0;
  width: calc(100% - 35%);
  background-color: #FADC9E;
}

#main>section {
  border-top: solid 2px #efefef;
  margin: 4em 0.8em 0 0;
  padding: 4em 0 0 0;
  display: inline-block;
}

#main>section:first-child {
  border-top: 0;
  margin-top: 0;
  padding-top: 0;
}

.about {
  background-color: #C06C84;
  /*flex-basis: content;*/
  align-items: flex-start;
}

.work {
  background-color: #137083;
  /*display: flex;*/
  flex-direction: column;
  flex: 1;
  align-items: flex-start;
  /*flex-basis: content;*/
}

.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

}

.project_item {
  background-color: #dddddd;
  flex-basis: calc(50% - 12px);
  min-width: 300px;
}

.contact {
  background-color: #669B7C;
  /*flex-basis: content;*/
  align-items: flex-start;
}

#main>section:first-child {
  flex-direction: column;
}

section, article {
  /*flex-basis: content;*/
  /*align-items: flex-start;*/
}

/* Project images*/

.image {
  border-radius: 0.35em;
  transition: opacity 0.2s ease-in-out;
  opacity: 1;
  /*display: block;*/
  width: 100%;
  height: auto;
  /*transition: .5s ease;*/
  backface-visibility: hidden;
}

.thumb {
  transition: opacity 0.2s ease-in-out;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 0.35em;
}

.preview_container:hover .image {
  opacity: 0.6;
}

.preview_container:hover .thumb {
  opacity: 1;
}

.preview_container {
  position: relative;
  width: auto;
}

.text {
  border: solid 3px rgba(255, 255, 255, 0.8);
  border-radius: 0.35em;
  color: #fff;
  font-size: 0.8em;
  font-weight: 400;
  padding: 0 1.5em 0 1.5em;
  line-height: 2.25em;
  white-space: nowrap;
}

/*
.image.thumb:hover::after {
  background: url("images/overlay.png");
  border-radius: 0.35em;
  transition: opacity 0.2s ease-in-out;
  border: solid 3px rgba(255, 255, 255, 0.5);
  color: #fff;
  content: "Learn more";
  display: inline-block;
  font-size: 0.8em;
  font-weight: 400;
  left: 50%;
  line-height: 2.25em;
  margin: 16em 0 0 -1em;
  opacity: 0.8;
  padding: 0 1.5em;
  position: absolute;
  text-align: center;
  text-decoration: none;
  top: 50%;
  white-space: nowrap;
}
*/

input, textarea, button {
  background-color: #f7f7f7;
  border: solid 2px transparent;
  border-radius: 0.35em;
  display: block;
  outline: 0;
  padding: 0 0.75em;
  text-decoration: none;
  text-transform: none;
  font-size: 12pt;
  color: #a2a2a2;
  line-height: 1.75em;
  height: 2.75em;
}

button {
  appearance: none;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  background-color: transparent;
  border-radius: 0.35em;
  border: solid 3px #efefef;
  color: #787878;
  display: inline-block;
  font-weight: 400;
  height: 3.15em;
  line-height: 2.75em;
  min-width: 10em;
  padding: 0 1.5em;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  margin: 2em 0 2em 0;
}

input[type="text"]:focus, input[type="email"]:focus, textarea:focus, button:focus, button:hover {
  border-color: var(--link-accent-color);
}

button:focus, button:hover {
  color: var(--link-accent-color);
}

form {
  margin: 0 0 2em 0;
}

textarea {
  padding: 0.75em;
  margin: 1em 2em 0 0;
  width: 100%;
  min-height: 25vh;
}

.get_in_touch {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

form {
  flex-basis: 65%;
}

.contact_info {
  flex-basis: 30%;
}

.contact_info li {
  display: inline-flex;
  margin: 0.5em 0 2em 0;
}

.contact_info h3 {
  margin-right: 1em;
  width: 0.8em;
}

.row>input {
  flex-basis: 48%;
}
